<h1 class="page-head">Doc Doc Forum</h1>

<% if user_signed_in? %>
<div class="user-mail">
	Welcome <%= @user.email %>
</div>
<br>
<% end %>

<div>
	<a href="/forum_threads/new" class="subject-link" role="button">
		New Subject
	</a>
</div>

<div class="current-threads">
	Current subjects:
</div>
<ul class="thread-list">
	<% @thread_list.each do | th | %>
		<li class="thread_list">
			<div class="subject">	
				<a href="/forum_threads/<%=th.id%>/" class="subject-text">
				<%=th.subject %>
				<div class="user-email">
				by: <%= th.user.email %>
				</div>
				</a>
				<span class="time-thread-made">
					Time created:<%= th.user.created_at %>
				</span>
			</div>
		</li>
	<%end%>
</ul>