<!DOCTYPE html>
<html>
<head>
  <title>Doc Doc, Who's There?</title>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="document-body">
	<div class="nav-bar">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="col-sm-2 col-sm-offset 2 login-logout-btns">
		 		<% if user_signed_in? %>
					<%= link_to("Log out", "/users/sign_out" , class: "btn btn-success", method: "delete") %>
				<% else %>
			 		<%= link_to "Login", "/users/sign_in", class: "btn btn-success" %>
			 		<%= link_to "Sign up", "/users/sign_up", class: "btn btn-success" %>
				<% end %>
		 	</div>

			<div class="col-sm-2 col-sm-offset-3 search-box">
				<% if current_page?("/forum_threads") %>
		 			<form action="/specialists">
						<input class="js-search-bar" type="text" name="search-bar" placeholder="Search conditions">
					</form>
				<% elsif !current_page?("/") %>
						<div class="logo-box">
							<a href="/">
								<%= image_tag "docdocpng.png", class: "logo-img" %>
							</a>
						</div>	
				<% end %>	
			</div>
			<div class="col-sm-2 col-sm-offset-2 forum-btn" style="float: right;">

				<a href="/forum_threads" class="btn btn-success forum-btn">
					Forum
				</a>
			</div>
		</nav>
	</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
